button {
	background-color: var(--blue-secondary);
	border: 1px solid var(--blue-main);
	border-radius: 3px;
	color: white;
	padding: 2px 4px 2px 4px;
	display: inline-block;
	cursor: pointer;
}

button:hover {
	background-color: var(--blue-tertiary);
}

button:active {
	background-color: var(--blue-main);
}

button.danger {
	background-color: var(--red-secondary);
	border: 1px solid var(--red-main);
}

button.danger:hover {
	background-color: var(--red-tertiary);
}

button.danger:active {
	background-color: var(---red-main);
}

button.close-button {
	box-sizing: content-box;
	height: 1em;
	width: 1em;
	padding: 1px;
	background-image: var(--close-icon);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

button.important {
	background-color: var(--green-secondary);
	border: 1px solid var(--green-main);
}

button.important:hover {
	background-color: var(--green-tertiary);
}

button.important:active {
	background-color: var(--green-main);
}

button.empty {
	background-color: rgba(0, 0, 0, 0);
	color: var(--blue-main);
}

button.empty:hover {
	background-color: rgba(0, 0, 255, 0.1);
}

button.empty:active {
	background-color: rgba(0, 0, 255, 0.2);
}

button.empty.expander {
	padding-right: 1.5em;
	position: relative;
    background-image: var(--chevron-down);
	background-position: center right 0.5em;
	background-repeat: no-repeat;
	background-size: auto 25%;
}

button.empty.expander.expanded {
	background-image: var(--chevron-up);
}

button:focus {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.7);
	outline: none;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid var(--border);
	background-color: var(--element-bg);
	color: var(--element-text);
	box-shadow: none;
	padding: 4px;
	padding-right: 1em;
	border-radius: 3px;
	position: relative;
	background-image: var(--select-chevron);
	background-position: center right 0.5em;
	background-repeat: no-repeat;
	background-size: auto 25%;
	cursor: pointer;
}

option {
	color: initial;
	background-color: initial;
}

select:focus {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
	outline: none;
}

select:hover {
	border-color: #aab;
}

input[type=checkbox] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid var(--border);
	border-radius: 3px;
	background-color: var(--element-bg);
	box-shadow: none;
	width: 1em;
	height: 1em;
	vertical-align: text-bottom;
	margin-bottom: 1px;
	margin-top: -1px;
	box-sizing: content-box;
	cursor: pointer;
}

input[type=checkbox]:checked {
	background-image: var(--checkbox-checked);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
}

input[type=radio] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid var(--border);
	border-radius: 50%;
	background-color: var(--element-bg);
	box-shadow: none;
	width: 1em;
	height: 1em;
	vertical-align: text-bottom;
	margin-bottom: 1px;
	margin-top: -1px;
	box-sizing: content-box;
	cursor: pointer;
}

input[type=radio]:checked {
	background-image: var(--radio-checked);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

input[type=radio]:focus, input[type=checkbox]:focus {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
	outline: none;
}

input[type=radio]:hover, input[type=checkbox]:hover {
	border-color: #aab;
}

input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: textfield;
	border: 1px solid var(--border);
	background-color: var(--element-bg-alt);
	color: var(--element-text);
	padding: 4px;
	border-radius: 3px;
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid var(--border);
	background-color: var(--element-bg-alt);
	color: var(--element-text);
	box-shadow: none;
	padding: 4px;
	border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number]:hover, input[type=text]:hover {
	border-color: #aab;
}

input[type=number]:invalid, input[type=text]:invalid {
	background-color: #f7d7da;
	box-shadow: none;
}

input[type=number]:focus, input[type=text]:focus {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
	outline: none;
}

input[type=range] {
	-webkit-appearance: none;
	background: transparent;
	height: 22px;
	padding: 0;
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-ms-track {
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 6px solid var(--blue-secondary);
	height: 10px;
	width: 5px;
	border-radius: 3px;
	background: var(--element-bg);
	cursor: pointer;
	margin-top: -8px;
	box-shadow: none;
	box-sizing: content-box;
}

input[type=range]:active::-webkit-slider-thumb {
	background: var(--bg);
}

input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: 6px solid var(--blue-secondary);
	height: 10px;
	width: 5px;
	border-radius: 3px;
	background: var(--element-bg);
	cursor: pointer;
}

input[type=range]:active::-moz-range-thumb {
	background: var(--bg);
}

input[type=range]::-ms-thumb {
	box-shadow: none;
	border: 6px solid var(--blue-secondary);
	height: 10px;
	width: 5px;
	border-radius: 3px;
	background: var(--element-bg);
	cursor: pointer;
	margin-bottom: -8px;
	margin-top: -8px;
	box-sizing: content-box;
}

input[type=range]:active::-ms-thumb {
	background: var(--bg);
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	border: 1px solid var(--border);
	background-color: var(--element-bg);
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	border: 1px solid var(--border);
	background-color: var(--element-bg);
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=range]:focus::-moz-range-track {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	border: 1px solid var(--border);
	background-color: var(--element-bg);
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: none;
}

input[type=range]:focus::-ms-track {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
}

input[type=range]::-ms-fill-lower {
	width: 100%;
	height: 8px;
	cursor: pointer;
	border: 1px solid var(--border);
	background-color: var(--element-bg);
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=range]:focus::-ms-fill-lower {
	background: var(--element-bg);
}

input[type=range]::-ms-fill-upper {
	width: 100%;
	height: 8px;
	cursor: pointer;
	border: 1px solid var(--border);
	background-color: var(--element-bg);
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=range]:focus::-ms-fill-upper {
	background: var(--element-bg);
}

.input_file {
	display: inline-block;
	width: 100%;
	position: relative;
	white-space: nowrap;
}

.input_file input[type=file] {
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.input_file label {
	background-color: rgba(0, 0, 0, 0);
	color: var(--blue-main);
	border: 1px solid var(--blue-main);
	border-radius: 3px;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 2px 0;
	width: 100%;
	max-width: min(35vw, 35vh);
	text-align: center;
	display: inline-block;
	cursor: pointer;
	overflow-x: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	vertical-align: middle;
}

.input_file input[type=file]:hover+label {
	background-color: rgba(0, 0, 255, 0.1);
}

.input_file input[type=file]:active+label {
	background-color: rgba(0, 0, 255, 0.2);
}

.input_file input[type=file]:focus+label {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
}

.input_file label:empty::before {
	content: 'Browse...';
	display: inline-block;
	text-align: center;
	width: 100%;
}

textarea {
	border: 1px solid var(--border);
	background-color: var(--element-bg-alt);
	color: var(--element-text);
	box-shadow: none;
	padding: 4px;
	border-radius: 3px;
}

textarea:hover {
	border-color: #aab;
}

textarea:invalid {
	background-color: #f7d7da;
	box-shadow: none;
}

textarea:focus {
	box-shadow: 0 0 0 2px rgba(180, 200, 220, 0.3);
	outline: none;
}

select:disabled, input:disabled, button:disabled, textarea:disabled, .input_file input[type=file]:disabled+label {
	opacity: 0.4;
}

input:disabled+label {
	opacity: 0.4;
}

pre {
    border: 1px solid var(--border);
	background-color: var(--element-bg-alt);
	color: var(--element-text);
    overflow: auto;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
}

pre code {
    display: block;
    font-family: monospace;
    white-space: pre;
}